# Here the default values of the config are defined.
# But it is strongly recomendated to redifine while deploy in production.
# You may redifine it using os enirenment,
# for ex.: export SERVER_MODE=release 
LOG_LEVEL="DEBUG" 
ACCESS_TOKEN_TTL="10m"
REFRESH_TOKEN_TTL="24h"
SIGNING_KEY="sueper_hard_string_sdFWlnxb13t&refgedgdfjsdgbv"

# WARNING !!!
# Be careful with changing this parameter. You shoudl set it once at 
# the start of deploying, and after never change it. Changing after
# will result in clients not being able to login.
APP_SALT="sueper_hard_string_sdfwevdweertgsadf"

# Environment for server runing 
APP_READ_TIMEOUT="10s"
APP_WRITE_TIMEOUT="10s"
APP_IDLE_TIMEOUT="10s" 
APP_PORT="7000"

# Environment for database
DB_HOST="db"
DB_PORT="5432"
DB_NAME="some_db"
DB_USER="db_user"
DB_PASSWORD="db_password"
DB_SSL_MODE="disable"

# SMTP settings
SMTP_ACCOUNT="some@example.com"
SMTP_PASSWORD="somepassword"
SMTP_ADDRESS="mail.example.com"